body{
    background-image:url(https://tse2.mm.bing.net/th?id=OIP.tLoaDrSkggWXvCa8JoIIqAHaEo&pid=Api&P=0&h=180);
    font-family: Arial, sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    }
    
.box {
    width: 70%;
    margin: auto;
    border: 2px solid black;
    padding: 20px;
    margin-top:80px;
    background:#bdb9b9a8;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;}

h1,h3 {
    text-align: center;
}
p {
    font-family: Arial, sans-serif;
    font-size: 18px;
    text-align: justify;
}
.container {
    width: 80%;
    margin: auto;
}
.team {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.member {
    width: 25%;
    margin: 10px;
}
.photo {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border: 2px solid black;
}
.name {
    font-weight: bold;
    text-align: center;
    color:white;
}
.role {
    font-style: italic;
    text-align: center;
    color:black;
}
.img {
    border:1px solid grey;
}