# Server Configuration
PORT=3000
MONGODB_URI='mongodb+srv://gauravbedwal1105_db_user:12345@cluster0.jmupmpx.mongodb.net/?appName=Cluster0'

# ImageKit Configuration (for media storage)
JWT_SECRET=9c2cd404653021cc75ebaef58960d0104d91d12c0a2e7432156d630867fbbfe7c9acf9b39aeb88ed67d77d9c7b4fc3d0f57f2009fe295bb484785dfc0507c874

IMAGEKIT_PUBLIC_KEY='public_feaWmv9js9rK9Z8/C2T8aYEQlvk='
IMAGEKIT_PRIVATE_KEY='private_EYopw+uiYe/EVQM1/VR9KZLKxXQ='
IMAGEKIT_URL_ENDPOINT='https://ik.imagekit.io/6j1q7wue2'
