# Server Configuration
PORT=3000
MONGODB_URI='mongodb+srv://gauravbedwal1105_db_user:12345@cluster0.jmupmpx.mongodb.net/?appName=Cluster0'

# ImageKit Configuration (for media storage)
JWT_SECRET=secret@2025

IMAGEKIT_PUBLIC_KEY='public_feaWmv9js9rK9Z8/C2T8aYEQlvk='
IMAGEKIT_PRIVATE_KEY='private_EYopw+uiYe/EVQM1/VR9KZLKxXQ='
IMAGEKIT_URL_ENDPOINT='https://ik.imagekit.io/6j1q7wue2'
