# Server Configuration
PORT=3000
MONGODB_URI=mongodb://localhost:27017

# ImageKit Configuration (for media storage)
IMAGEKIT_PUBLIC_KEY=your_public_key
IMAGEKIT_PRIVATE_KEY=your_private_key
IMAGEKIT_URL_ENDPOINT=your_url_endpoint

# JWT Secret
JWT_SECRET=your_jwt_secret
